In [12]:
print("hola mundo122")
print("hello1")
"hell worl".title()
'a'.join(['s','d'])
"hola mundo122".split('a')

hola mundo122
hello1

['hol', ' mundo122']

In [1]:
unnumero = 3
untexto = 'texto'
print(untexto,unnumero)
type(untexto)
type(untexto)

texto 3

str

In [8]:
otronumero = 4.3+2j
resultado =unnumero + otronumero
print(resultado)
unbooleano =True
complex = 3 + 2j
type(otronumero)

(7.3+2j)

complex

In [5]:
print("es",untexto)

es texto

In [1]:
entrada = int(input("escribe algo"))
print("lo que escribe es", entrada)
type (entrada)

lo que escribe es 3

int

In [2]:
unalista = [1,"texto",3]
unalista[1]="tes"
print(type(unalista),unalista)
unatupla = (1,"tres",2)
print (unatupla)

<class 'list'> [1, 'tes', 3]
(1, 'tres', 2)

In [9]:
unconjunto = {1,2,3}
untupla = ("perro","gato","leon")
u= list(zip(unconjunto,untupla))
print(u)

[(1, 'perro'), (2, 'gato'), (3, 'leon')]

In [10]:
untupla = [1,2,3]
print(untupla)
print(untupla[1])
untupla[1]= "tes"
print(untupla[1])

[1, 2, 3]
2
tes

In [17]:
unconjunto = {1,2,3}
print(unconjunto)
undic = dict ([("uno",1),("dos",True)])
print(undic["uno"],undic["dos"])
type(undic)
undic

{1, 2, 3}
1 True

{'uno': 1, 'dos': True}

Define una variable con valores que se te ocurran e identifica sus tipos. Por ejemplo, números, textos, listas, tuplas, conjuntos, etc.

In [19]:
conj = {1,2,"hola", }
lista = [1,2,"tres"]
tupla = (3,4,"cinco")
dictio = {'a':3,'b':8}
print(conj, lista,tupla, dictio)
print(type(conj), type(lista),type(tupla), type(dictio))

{1, 2, 'hola'} [1, 2, 'tres'] (3, 4, 'cinco') {'a': 3, 'b': 8}
<class 'set'> <class 'list'> <class 'tuple'> <class 'dict'>

- Crea una tupla que contenga algunos nombres de mascota

In [27]:
tupla = ("boby","pepe","pichi")

 Crea un diccionario "mascotas", que contenga el nombre y tipo de animal de cada mascota

In [28]:
mascotas = {"boby":"perro","pepe":"gato","pichi":"leon"}

- Crea una lista de mascotas en la que cada item contenga nombre, tipo, edad y peso de la mascota

In [42]:

leon = {"nombre": "karl","tipo": "leon","edad":3,"peso":1}
gato = {"nombre": "pepe","tipo": "gato","edad":2,"peso":10}
perro = {"nombre": "jon" ,"tipo": "perro" ,"edad":1,"peso":15}
unaseccion = [leon, gato]
dosseccion = [perro]
veterinaria = {"1": unaseccion,"2": dosseccion}

print(veterinaria["1"])
print(veterinaria["2"])
print(veterinaria["1"][0])
print(veterinaria["1"][1])
print(veterinaria["1"][1]["nombre"])

[{'nombre': 'karl', 'tipo': 'leon', 'edad': 3, 'peso': 1}, {'nombre': 'pepe', 'tipo': 'gato', 'edad': 2, 'peso': 10}]
[{'nombre': 'jon', 'tipo': 'perro', 'edad': 1, 'peso': 15}]
{'nombre': 'karl', 'tipo': 'leon', 'edad': 3, 'peso': 1}
{'nombre': 'pepe', 'tipo': 'gato', 'edad': 2, 'peso': 10}
pepe

In [44]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r//4
rrr = r%4
print(rr,rrr)

-2 2

In [52]:
"data" in "data mundo"
l1 = [1,2,3]
6 in l1
m = [1]
n = [1]
print (id(m), id(n))
m is n

140486569004224 140486569117248

False

In [41]:
x = "science"
a = list(x)
b = tuple(x)
c = set(x)
d = dict ([("g",1)])
print (a,b,c,d)
"hola".upper()

['s', 'c', 'i', 'e', 'n', 'c', 'e'] ('s', 'c', 'i', 'e', 'n', 'c', 'e') {'e', 'n', 's', 'c', 'i'} {'g': 1}

'HOLA'

In [83]:
l1 = "hola mundo"
l2 = l1.replace("o","x")
print(type (l2))
l2 = l1.split(" ")
print(type (l2))
l2 = "_".join(l2)
print(type (l2))
l2

<class 'str'>
<class 'list'>
<class 'str'>

'hola_mundo'

In [85]:
t1 = (1,2,3)
s1 = {1,2,3}
l1 = list(t1)
l2 = list(s1)
l1 [1], l2[-1]

(2, 3)

In [87]:
l1[0:len(l1)]

[1, 2, 3]

In [96]:
l1 =[1,2,3,4,5,6,7,8]
ii = 1
iu = 5
sa = 3
print(l1[ii:iu:sa])

[2, 5]

In [107]:
l1 = [1,2]
l2 = [3,4]
l1.append(4)
l1
l3 = ["l","s"]
l1.extend(l3)
l1.insert(1,"holA")
l1+l2

[1, 'holA', 2, 4, 'l', 's', 3, 4]

In [36]:
l1.insert(0,1)
l1

[1,
 1,
 2,
 3,
 4,
 4,
 4,
 4,
 4,
 'l',
 's',
 4,
 'l',
 's',
 4,
 'l',
 's',
 4,
 'l',
 's',
 4,
 'l',
 's']

In [109]:
l1 = [1,2,3,4,5]
e = l1.pop(2)
print(e,l1)

3 [1, 2, 4, 5]

In [39]:
l1

[1, 2, 3, 4]

In [26]:
l1 = {0,1,2,3}
l2 = {'a', 'b','c',"a","a",1}
try:
    l1>l2
except:
    print("error")
l3 = {1,2,3,4}
l4=[1,4,2,5,3]

s3 = l1.difference(l3)
s4 = l1.intersection(l3)
s5 = l1.symmetric_difference(l3)
s3, s4, s5
l4.sort(reverse=True)
l4
l2.pop()
l2.pop()
print (l2)

{'b', 1}

In [20]:
dict1 = {"lunes":1,"martes":2}
key= list(dict1.keys())
val= list(dict1.values())
item = list(dict1.items())
print(key,val,item)
dict1["mircoles"] =6
dict1.pop("martes")
print(dict1.get("martes","no existe"))
print(dict1)

['lunes', 'martes'] [1, 2] [('lunes', 1), ('martes', 2)]
no existe
{'lunes': 1, 'mircoles': 6}

In [101]:
# Definir la lista de números
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Pedir al usuario que ingrese un número
numero_usuario = int(input("Introduce un número: "))

# Verificar si el número está en la lista
esta_en_lista = numero_usuario in numeros

# Mostrar el resultado
print(esta_en_lista)

False

In [108]:
# Solicitar al usuario la cantidad de horas trabajadas
horas_trabajadas = float(input("Introduce la cantidad de horas trabajadas: "))

# Solicitar al usuario el valor por hora
valor_por_hora = float(input("Introduce el valor por hora: "))

# Calcular el sueldo mensual
sueldo_mensual = horas_trabajadas * valor_por_hora

# Mostrar el resultado
print(f"El sueldo mensual es: {sueldo_mensual}")

El sueldo mensual es: 2.0

In [28]:
# Solicitar al usuario que ingrese los números separados por comas
numeros_entrada = input("Introduce los números separados por comas: ")

# Convertir la cadena de entrada en una lista de números
numeros = {int(x) for x in numeros_entrada.split(",")}

# Identificar el mayor número de la lista
mayor_numero = max(numeros)

# Mostrar el resultado
print("El mayor número es:", mayor_numero)
print(numeros)

El mayor número es: 45
{1, 2, 3, 45}

In [27]:
# Definir la lista de valores
valores = [1, 2, 2, 3, 4, 4, 4, 5, 6, 6, 7]

# Convertir la lista a un conjunto para obtener los valores únicos
valores_unicos = set(valores)

# Contar los valores únicos
cantidad_valores_unicos = len(valores_unicos)

# Mostrar el resultado
print("La cantidad de valores únicos es:",cantidad_valores_unicos)

La cantidad de valores únicos es: 7

In [26]:
# Definir un diccionario de ejemplo
coleccion = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Obtener las claves del diccionario como una lista
claves = list(coleccion.keys())

# Obtener la clave en la segunda posición
clave_segunda_posicion = claves[1]

# Obtener el valor correspondiente a esa clave
valor_segunda_posicion = coleccion[clave_segunda_posicion]

# Mostrar el resultado
print("El valor de la clave en la segunda posición (", clave_segunda_posicion,") es:", valor_segunda_posicion)

El valor de la clave en la segunda posición ( b ) es: 2

In [ ]:
# Número en lista
list1 = [1,2,3,4,5]
try:
    val = int(input("num:"))
    print('Está:',val in list1)
except:
    print('Debe ser un número!')
Debe ser un número!
# Suledo medio
try:
    horas = int(input('Horas:'))
    pph = float(input('pph:'))
    sa = horas * pph
    smm = sa / 12
    print('Sueldo medio mensual:', smm)
except:
    print('Deben ser números!')
# Número mayor
txtlista = input('lista separada por ",":')
lista = txtlista.split(',')
print('El mayor es:',max(lista))
El mayor es: o
# Num valores únicos
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1]
s1 = set(lista)
print('Número de elementos diferentes:',len(s1))
# Valor 2º posicion
unDict = {'primero':1, 'segundo': 2, 'tercero':3}
claves = list(unDict.keys());
segundo = unDict.get(claves[1])
print('El segundo:',segundo)

 Escribe un programa que almacene internamente una lista de números, pida al usuario un número e indique si está en la lista con un True o False.

In [135]:
l = [1,2,3]
try:
    x = int(input("escribe un numero:"))
    print(x in l)
except:
    print("debe ser un numero")

False

 Calcular el sueldo mensual de un operario conociendo la cantidad de horas trabajadas y el valor por hora. Estos valores se deberán solicitar al usuario.

In [143]:
try: 
    a = int(input("horas:"))
    b = int(input("salario por hora"))
    print("sueldo medio mensual",a*b/12)
except:
    print("deben ser numeros")

sueldo medio mensual 0.5

- Dados N números, separados por "," ingresados por el usuario en una sola entrada, identifica cuál es el mayor de todos.

In [161]:
a = input('lista separada por ","')
b = list(a.split(","))
print("el mayor es:", max(b))

el mayor es: 3

- Dada una lista, escribe un programa que cuente los valores únicos.

In [166]:
l=[1,2,3,4,4,5,]
s=set(l)
len(s)

5

 Dada una diccionario cualquiera, muestra el valor de la clave en segunda posición.

In [173]:
unDict = {'primero':1, 'segundo': 2, 'tercero':3}
claves = list(unDict.keys())
claves[1]

'segundo'